.alpha-container {
  height: 100vh;
  display: grid;
  grid-template-rows: 50% 50%;
}

.btn {
  font-size: 2rem;
  width: 14.2857%;
  height: 75px;
  border-radius: 0rem;
  border: none;
  background: rgb(0, 0, 0);
}

.btn:hover {
  background: turquoise;
  cursor: pointer;
}

.red-btn {
  color: rgb(244, 55, 55);
}

.orange-btn {
  color: rgb(244, 135, 55);
}

.yellow-btn {
  color: rgb(244, 210, 55);
}

.green-btn {
  color: rgb(55, 244, 55);
}

.blue-btn {
  color: rgb(55, 135, 244);
}

.indigo-btn {
  color: rgb(75, 0, 135);
}

.violet-btn {
  color: rgb(244, 135, 244);
}

.color-span {
  font-size: 5rem;
}
